<% layout('../boilerplate') -%>
<div class="container">
	<div class="jumbotron">
		<h2>Node.js - MongoDB Demo</h2>
		<p class="lead">A complete, working and MIT licensed Node.js-MongoDB <a hreg="http://en.wikipedia.org/wiki/Create,_read,_update_and_delete" target="_blank">CRUD</a> App that uses most common and useful Node.js modules and <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> front-end framework, designed to understand how to create and develop a Node.js-MongoDB project with the aim to give a cornerstone for future projects to any developer.</p>
		<p><a class="btn btn-lg btn-success" href="https://github.com/rodrigopolo/node-mongo-demo" target="_blank" role="button">On github</a>
		</p>
	</div>
	<div class="footer">
		<p>&copy; RodrigoPolo.com <%=moment().format('YYYY')%></p>
	</div>
</div>
