<% 
layout('../boilerplate');
stylesheet('/css/sign_in.css');
%>
<div class="container">
	<form action="/users/reset/" method="post" class="form-signin" role="form">
		<h2 class="form-signin-heading">Password Reset</h2>
		<% for(k in errmsg) { %>
			<div class="alert alert-danger alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<strong>Warning!</strong> <%= errmsg[k] %>
			</div>
		<% } %>

		<%-input({
			type: 'email',
			id: 'name',
			name: 'email',
			placeholder: 'Email address',
			value: email,
			class: 'form-control',
			required: true,
			autofocus: true
		})%>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Reset</button>
	</form> 
</div>
