<% 
layout('../boilerplate');
stylesheet('/css/sign_in.css');
%>
<div class="container">
	<form action="/signin" method="post" class="form-signin" role="form">
		<h2 class="form-signin-heading">Please sign in</h2>
		<% for(k in messages) { %>
			<div class="alert alert-danger alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<strong>Warning!</strong> <%= messages[k] %>
			</div>
		<% } %>

		<%-input({
			type: 'email',
			id: 'name',
			name: 'email',
			placeholder: 'Email address',
			value: email,
			class: 'form-control',
			required: true,
			autofocus: true
		})%>
		<input name="password" type="password" class="form-control" placeholder="Password" required>
		<label class="checkbox">
			<input name="rememberme" type="checkbox" value="remember-me"> Remember me
		</label>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	</form> 
</div>
