<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><%=site.name%></a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<%- navbar_up({
					path: path,
					user: user,
					links: [{
						title: 'Home',
						url: '/'
					}, {
						title: 'About',
						url: '/about/'
					},{
						title: 'Users',
						url: '/users/',
						per: 2
					}],
					template: '<li{active}><a href="{url}">{title}</a></li>',
					active: ' class="active"'
				})%>
				<% if (!user) { %>
				<li><a href="/signin">Sign in</a></li>
				<% } else { %>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= user.name %> <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/users/edit/<%=user._id%>/">Account</a></li>
						<li><a href="/signout">Sign out</a></li>
					</ul>
				</li>
				<% } %>
			</ul>
		</div><!--/.navbar-collapse -->
	</div>
</div>